<ion-header>
    <ion-navbar color="white">
        <img height="40" src="assets/imgs/logo.png" alt="">
    </ion-navbar>
</ion-header>

<ion-content no-padding>
    <ion-row *ngIf="isLoading" class="spinner-center">
        <ion-spinner name="dots"></ion-spinner>
    </ion-row>
    <ion-list *ngIf="!isLoading" no-lines>
        <ion-item *ngFor="let contest of liveContests" [class]="contest.Platform">
            <ion-card>
                <ion-item class="item-title">
                    <h2>{{contest.Name}}</h2>
                    <p class="portal">{{contest.Platform}}</p>
                </ion-item>
                <ion-card-content style="padding-bottom: 0px;">
                    <ion-grid>
                        <ion-row no-padding>
                            <ion-col col-auto>
                                <p *ngIf="contest.challenge_type">Type: {{contest.challenge_type}}</p>
                                <p>Ends at: {{contest.EndTime}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-content>
                <ion-row>
                    <ion-col>
                        <button ion-button icon-start clear small (click)="mOpenUrl(contest)">
                            <ion-icon name="link"></ion-icon>
                            <div>Link</div>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-item>
    </ion-list>
</ion-content>