
.md {

    page-home {

        .toolbar-content {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h2 {
            text-overflow: ellipsis;
            overflow: hidden;
        }

        ion-avatar {
            margin: 8px !important;
        }

        ion-item {
            padding: 0px;
            ion-label {
                margin: 0px;
            }
        }
    }

}
