
.md {

    page-home {

        .toolbar-content {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .item-title {

            ion-label {
                margin: 5px 0px 0px 0px !important;
            }

            h2 {
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        .portal{
            color: white;
            display: inline-block;
            padding: 3px 10px;
        }

        button{

            ion-icon {
                color: #F19CA4;
            }
        }
    }

}
